---
import { Globe } from '@lucide/astro'

import { availableLocales, cleanPathname, type LocaleCode } from '@/utils/i18n'
import { ELocaleNames } from '@dmythro/constants'

interface Props {
  locale: LocaleCode
}

const { locale } = Astro.props
const currentPath = cleanPathname(Astro.url.pathname).replace(`/${locale}`, '') || '/'
---

<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-sm gap-1">
    <Globe class="h-4 w-4" />
    <span class="hidden sm:inline">{ELocaleNames[locale]}</span>
  </div>
  <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-50 w-40 p-2 shadow">
    {availableLocales.map((l) => (
      <li>
        <a
          href={`/${l}${currentPath}`}
          hreflang={l}
          class:list={[{ active: l === locale }]}
        >
          {ELocaleNames[l]}
        </a>
      </li>
    ))}
  </ul>
</div>
