---
import type { TimelineItem } from '@dmythro/locales'

interface Props {
  item: TimelineItem
  isLast?: boolean
}

const { item, isLast = false } = Astro.props
const { title, subtitle, description, when, till, where, isHighlighted } = item

if ((!when && !till) || (!title && !subtitle && !description)) {
  return
}
---

<li>
  <hr class="bg-primary/30" />
  <div class="timeline-start text-sm font-semibold text-base-content/60 min-w-20 text-right print:break-after-avoid">
    {when && till ? (
      <span>{when} – {till}</span>
    ) : (
      when || till
    )}
  </div>
  <div class="timeline-middle">
    <div class:list={['w-3 h-3 rounded-full', isHighlighted ? 'bg-primary' : 'bg-base-300']}></div>
  </div>
  <div class="timeline-end timeline-box border-base-300 bg-base-200/50">
    {title && (
      <h3 class:list={['text-base mb-0.5 print:break-after-avoid', isHighlighted ? 'font-bold text-primary' : 'font-medium']}>
        {title}
      </h3>
    )}
    {subtitle && (
      <h4 class="text-sm font-medium text-base-content/80 print:break-after-avoid">
        {subtitle}
        {where && <span class="font-light"> – {where}</span>}
      </h4>
    )}
    {description && (
      <div class="text-sm text-base-content/60 mt-1">
        {Array.isArray(description)
          ? description.map((line) => <p class="my-1">{line}</p>)
          : description
        }
      </div>
    )}
  </div>
  {!isLast && <hr class="bg-primary/30" />}
</li>
